.app {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    ". header header header ."
    "menu-sidebar contents contents suggestion-sidebar . "
    ". footer footer footer .";

  width: 2048px;
  max-width: 100%;
  margin: 10px auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;

    .page-title {
      flex: 0.7;
    }
    .search {
      flex: 2;
    }
    .topnav {
      flex: 1;
      margin-left: 40px
    }
  }

  .menu-sidebar {
    grid-area: menu-sidebar;
  }

  .contents {
    grid-area: contents;
    justify-items: center;
  }

  .suggestion-sidebar {
    grid-area: suggestion-sidebar;
  }

  .footer {
    grid-area: footer;
    justify-self: center;
  }
}